@model ClientUI.Controllers.ConfigViewModel

@{
    ViewData["Title"] = "Config value from user secrets";
}

<h1>Config value from user secrets</h1>

<p>For this example to work properly, you must have:</p>
<ul>
    <li>A configuration value named ClientUI:FromUserSecrets in appsettings.json.  This value will be overriden by another value in appsettings.Development.json.</li>
    <li>A different configuration value named ClientUI:FromUserSecrets in appsettings.Development.json.  This value will be overriden by another value in a user secret during development only.</li>
    <li>A different configuration value in a user secret named ClientUI:FromUserSecrets.  Create this by running 'dotnet user-secrets set ClientUI:FromUserSecrets "This value is from user secrets"'.  This will be the final configuration value.</li>
</ul>

<div class="card">
    <div class="card-header">
        <strong>Configuration Value</strong>:  @Model.Value
    </div>
</div>
