@model ClientUI.Controllers.ConfigViewModel

@{
    ViewData["Title"] = "Config value from user secrets";
}

<h1>Config value from user secrets</h1>

<p><strong>Configuration Value</strong>:  @Model.Value</p>