@model ClientUI.Controllers.ConfigViewModel

@{
    ViewData["Title"] = "Config value from appsettings.json";
}

<h1>Config value from appsettings.json</h1>

<p>For this example to work properly, you must have:</p>
<ul>
    <li>A configuration value named ClientUI:FromAppSettings in appsettings.json.</li>
</ul>

<div class="card">
    <div class="card-header">
        <strong>Configuration Value</strong>:  @Model.Value
    </div>
</div>
