@model ClientUI.Controllers.ConfigViewModel

@{
    ViewData["Title"] = "Config value from appsettings.json";
}

<h1>Config value from appsettings.json</h1>

<strong>Configuration Value</strong>:  @Model.Value