@{
    ViewData["Title"] = "Configuration Examples";
}

<div class="text-center">
    <h1 class="display-4">Configuration Examples:</h1>
    <p>@Html.ActionLink("From appsettings.json", "FromAppSettings", "Config")</p>
    <p>@Html.ActionLink("From appsettings.[Environment].json", "FromAppSettingsEnvironment", "Config")</p>
    <p>@Html.ActionLink("From user secrets", "FromUserSecrets", "Config")</p>
</div>
