@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">12-Factor Application Examples</h1>
    <p>@Html.ActionLink("Configuration Examples", "Index", "Config")</p>
</div>
